
<div class="container">
    <div class="row">

        <h2>My Items</h2>


        <nav class="nav">
            <a class="nav-link reorder" routerLink="reorder" routerLinkActive="active">
               <span class="ele"> Rorder</span>
            </a>
            <a class="nav-link lists " routerLink="lists" routerLinkActive="active">
                <span class="ele"> lists</span>
            </a>
            
          </nav>
          <hr>

         <router-outlet></router-outlet>
        

    </div>
</div>

