<div class="side p-3 border rounded">
  <a routerLink='/shap-ment-view' routerLinkActive="router-link-active" class="btnA btn btn-primary w-100 mb-3">
    {{ 'continue_to_checkout' | translate }}
  </a>
  <div class="seconde alert alert-primary d-flex" role="alert">
    <div>
      <img style="margin: 5px;" src="https://i5.walmartimages.com/dfw/4ff9c6c9-69ed/k2-_c5fc89eb-a765-445a-846c-c88b31ebf4f2.v1.png" alt="">
    </div>
    <div>
      <p>{{ 'cart_items_discount' | translate }}</p>
    </div>
  </div>

  <!-- Summary Details -->
  <ul class="list-unstyled mb-3">
    <li class="d-flex justify-content-between">
      <span><strong>{{ 'subtotal' | translate }}</strong></span>
      <span class="text-decoration-line-through">${{ totalprice }}</span>
    </li>
    <li class="d-flex justify-content-between text-success">
      <span style="color: black;">{{ 'savings' | translate }}</span>
      <span>$0</span>
    </li>
    <li class="d-flex justify-content-between fw-bold">
      <span></span>
      <span class="text-success">${{ totalprice }}</span>
    </li>
    <hr>
    <li class="d-flex justify-content-between">
      <span>{{ 'shipping' | translate }}</span>
      <span class="text-success">{{ 'free' | translate }}</span>
    </li>
    <li class="d-flex justify-content-between">
      <span><strong>{{ 'taxes' | translate }}</strong></span>
      <span>{{ 'calculated_at_checkout' | translate }}</span>
    </li>
    <hr>
    <li class="d-flex justify-content-between fw-bold">
      <span>{{ 'estimated_total' | translate }}</span>
      <span class="text-success">${{ totalprice }}</span>
    </li>
    <br>
  </ul>
  <small class="text-muted">
    {{ 'payment_info' | translate }}
    <a href="#" class="text-decoration-none">{{ 'learn_how' | translate }}</a>
  </small>
</div>
