/* تنسيقات الصفحة العامة */
* {
  padding-inline: 15px;
  padding-top: 5px;
}

img {
  width: 100%;
  /* height: 100%; */

}









.mady .row {
  --bs-gutter-x: 0rem;
  height: 1200px;
  width: auto;
  margin-bottom: 30px;
}

a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  font-weight: bold;
}




/*  */

.homos .row img {
  padding: 1px;
  border-radius: 20px;
}

.bigDealone {
  margin-top: -26px;
}


/*  */


.mady {
  margin-bottom: 20px !important;
}

/* تنسيقات العناصر الرئيسية في الصفحة */
.image-contain {
  width: 100%;
  height: 20%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  color: white;
  border-radius: 15px;
}

.image-contain-one {
  width: 100%;
  height: 60%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  color: white;
  border-radius: 10px;
}

.image-contain .linkk {
  position: absolute;
  font-size: 40px;
  font-weight: bold;
  list-style: none;
  top: 90%;
  left: 10%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.middlee {
  height: 400px;
}

.image-contain-middle {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  display: flex;
  border-radius: 10px;
}

.image-contain-middle .linkk {
  position: absolute;
  font-size: 30px;
  font-weight: bold;
  list-style: none;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.go {
  position: absolute;
  top: 80%;
  left: 10%;
  transform: translate(-50%, -50%);
}

/* تنسيقات الصور داخل الصفوف */
.image-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  /* تقليل المسافة بين الصور */
  padding-left: 0;
  padding-right: 0;
  margin: auto;
}


.image-circle {
  /* width: 100px;
    height: 100px; */
  /* background-size: cover;
    background-position: center; */
  border-radius: 50%;
  position: relative;
  margin: 1% auto;
  padding: 5%;

}

.image-square {
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center;
  position: relative;
  margin: 5%auto;
  padding: 5%;

}
