<footer class="footer">
  <div class="row">
    <div class="footer-links col-12">
      <p>&copy; 2024 Walmart. {{ 'order-shapmentfooter.ALL_RIGHTS_RESERVED' | translate }}</p>
      <a href="#">{{ 'order-shapmentfooter.GIVE_FEEDBACK' | translate }}</a>
      <a href="#">{{ 'order-shapmentfooter.CA_PRIVACY_RIGHTS' | translate }}</a>
      <a href="#">{{ 'order-shapmentfooter.YOUR_PRIVACY_CHOICES' | translate }}</a>
      <a href="#">{{ 'order-shapmentfooter.NOTICE_AT_COLLECTION' | translate }}</a>
      <a href="#">{{ 'order-shapmentfooter.REQUEST_MY_PERSONAL_INFORMATION' | translate }}</a>
      <a href="#">{{ 'order-shapmentfooter.DELETE_ACCOUNT' | translate }}</a>
    </div>
    <a style="display: flex; justify-content: end; margin-left: -1.5%; text-decoration: none;color: #666 ;"
      href="#">California
      Supply
      Chains Act</a>
  </div>
</footer>