<footer class="footer">
  <div class="row">
    <div class="footer-links col-12">
      <p>&copy; 2024 Walmart. All Rights Reserved.</p>
      <a href="#">Give feedback</a>
      <a href="#">CA Privacy Rights</a>
      <a href="#">Your Privacy Choices</a>
      <a href="#">Notice at Collection</a>
      <a href="#">Request My Personal Information</a>
      <a href="#">Delete Account</a>
    </div>
    <a style="display: flex; justify-content: end; margin-left: -1.5%; text-decoration: none;color: #666 ;"
      href="#">California
      Supply
      Chains Act</a>
  </div>
</footer>