<footer class="footer">
  <div class="row">
    <div class="footer-links col-12">
      <p>{{ 'COPYRIGHT' | translate }}</p>
      <a href="#">{{ 'GIVE_FEEDBACK' | translate }}</a>
      <a href="#">{{ 'CA_PRIVACY_RIGHTS' | translate }}</a>
      <a href="#">{{ 'PRIVACY_CHOICES' | translate }}</a>
      <a href="#">{{ 'NOTICE_AT_COLLECTION' | translate }}</a>
      <a href="#">{{ 'REQUEST_PERSONAL_INFO' | translate }}</a>
      <a href="#">{{ 'DELETE_ACCOUNT' | translate }}</a>
    </div>
    <a style="display: flex; justify-content: end; margin-left: -1.5%; text-decoration: none;color: #666 ;"
      href="#">{{ 'CALIFORNIA_SUPPLY_CHAINS' | translate }}</a>
  </div>
</footer>
