 <div class="footer bg-primary text-white py-3">
  <div class="container">
    <div class="row text-center">
      <div class="col">
        <a href="#" class="text-white text-decoration-none mx-2">{{ 'footer.all_departments' | translate }}</a>
        <a href="#" class="text-white text-decoration-none mx-2">{{ 'footer.store_directory' | translate }}</a>
        <a href="#" class="text-white text-decoration-none mx-2">{{ 'footer.careers' | translate }}</a>
        <a href="#" class="text-white text-decoration-none mx-2">{{ 'footer.our_company' | translate }}</a>
        <a href="#" class="text-white text-decoration-none mx-2">{{ 'footer.sell_on_walmart' | translate }}</a>
        <a href="#" class="text-white text-decoration-none mx-2">{{ 'footer.help' | translate }}</a>
        <a href="#" class="text-white text-decoration-none mx-2">{{ 'footer.product_recalls' | translate }}</a>
        <a href="#" class="text-white text-decoration-none mx-2">{{ 'footer.accessibility' | translate }}</a>
        <a href="#" class="text-white text-decoration-none mx-2">{{ 'footer.tax_exempt_program' | translate }}</a>
        <a href="#" class="text-white text-decoration-none mx-2">{{ 'footer.get_the_app' | translate }}</a>
        <a href="#" class="text-white text-decoration-none mx-2">{{ 'footer.sign_up_for_email' | translate }}</a>
        <a href="#" class="text-white text-decoration-none mx-2">{{ 'footer.safety_data_sheet' | translate }}</a>
        <a href="#" class="text-white text-decoration-none mx-2">{{ 'footer.terms_of_use' | translate }}</a>
        <a href="#" class="text-white text-decoration-none mx-2">{{ 'footer.privacy_notice' | translate }}</a>
        <a href="#" class="text-white text-decoration-none mx-2">{{ 'footer.supply_chain_act' | translate }}</a>
        <a href="#" class="text-white text-decoration-none mx-2">{{ 'footer.privacy_choices' | translate }}</a>
        <a href="#" class="text-white text-decoration-none mx-2">{{ 'footer.notice_at_collection' | translate }}</a>
        <a href="#" class="text-white text-decoration-none mx-2">{{ 'footer.ad_choices' | translate }}</a>
        <a href="#" class="text-white text-decoration-none mx-2">{{ 'footer.nv_privacy_notice' | translate }}</a>
        <a href="#" class="text-white text-decoration-none mx-2">{{ 'footer.wa_privacy_notice' | translate }}</a>
        <a href="#" class="text-white text-decoration-none mx-2">{{ 'footer.request_info' | translate }}</a>
        <a href="#" class="text-white text-decoration-none mx-2">{{ 'footer.delete_account' | translate }}</a>
        <a href="#" class="text-white text-decoration-none mx-2">{{ 'footer.brand_shop_directory' | translate }}</a>
        <a href="#" class="text-white text-decoration-none mx-2">{{ 'footer.pharmacy' | translate }}</a>
        <a href="#" class="text-white text-decoration-none mx-2">{{ 'footer.walmart_business' | translate }}</a>
        <a href="#" class="text-white text-decoration-none mx-2">{{ 'footer.iywyk' | translate }}</a>
      </div>
    </div>
    <div class="row text-center mt-3">
      <div class="col">
        <small>{{ 'footer.copyright' | translate }}</small>
      </div>
    </div>
  </div>
</div> 

