/* footer {
  background-color: #f2f8fd;
  color: black;
}

footer h3 {
  margin-top: 5px;
  color: #0071dc;
  border-bottom: 1px solid #888;
  padding-bottom: 7px;
}

footer i {
  width: 30px;
  height: 30px;
  line-height: 30px !important;
  text-align: center;
  margin-right: 10px;
  cursor: pointer;
}


.se i:nth-of-type(1) {
  background-color: #3b5998;
  color: #fff;
}

.se i:nth-of-type(2) {
  background-color: #55acee;
  color: #fff;
}

.se i:nth-of-type(3) {
  background-color: rgb(255, 99, 51);
  color: #fff;
}

.se i:nth-of-type(4) {
  background-color: rgba(255, 255, 0, 0.904);
  color: #fff;
}

.footer-icon {
  border-bottom: 1px solid #888;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.footer-icon:nth-last-child(1) {
  border: none;
}

footer button {
  padding: 5px;
  margin: 3px;
  background-color: #FFD43B;
  color: #f7f7f7;
  border: none;
  margin-bottom: 5px;
}


footer img {
  width: 80px;
  height: 80px;
  margin: 1px;
  cursor: pointer;
}

.copy-right {
  background-color: #1a1818;
  color: #fff;
  height: 40px;
}

.copy-right ul {
  display: flex;
  justify-content: space-between;
}

.copy-right p,
.copy-right ul {
  margin: 0px;
}

.copy-right li {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.copy-right li:hover {
  color: rgb(126, 182, 182);
} */

.footer {
  background-color: #0071ce; 
  color: #ffffff;
  font-size: 14px;
}

.footer a {
  font-size: 11px;
}

.footer small {
  font-size: 12px;
}
