<nav class="navbar">
  <div class="row ">

    <div class="navbar-top ">
      <!-- Logo and Location -->
      <div class="navbar-logo-location  col-s-12 col-md-2">
        <a routerLink="/" class="logo">
          <a routerLink="home"><img src="/5977595.png" alt="Logo"></a>

        </a>
        <div class="location ">
          <p>{{'header.How_do_you_want_your_items?'| translate}}</p>
        </div>
      </div>

      <!-- Search Bar -->
      <div class="navbar-search col-s-12 col-md-5">
        <input type="text" placeholder="Search everything at Walmart online and in store">
        <button class="search-button">
          <i class="fa fa-search"></i> <!-- Search Icon -->
        </button>
      </div>

      <!-- User Actions -->
      <div class="navbar-actions col-s-12  col-md-3">
        <a href="#" class="action-item">{{'header.Reorder_My_Items'|translate}} <span> <i class="fa-regular fa-heart"
              style="color: #FFD43B;"></i></span></a>

        <a routerLink="SignOrRegister" routerLinkActive="active_link" class="action-item">{{'header.Sign_In_Account'|translate}} <span><i class="fa-regular fa-user"
              style="color: #FFD43B;"></i></span></a>
             
        <a routerLink="/" class="cart-icon">
          <i class="fa fa-shopping-cart " style="color: #FFD43B;"></i>
          <span class="cart-total">$0.00</span>
        </a>


      </div>
    </div>

    <div class="navbar-bottom col-s-12">
      <ul class="navbar-links " style="cursor: pointer;">
        <li><a routerLink=" " routerLinkActive=" active_link">Departments</a></li>
        <li><a routerLink=" " routerLinkActive=" active_link">Services</a></li>
        <li><a routerLink=" " routerLinkActive=" active_link">Savings</a></li>
        <li><a routerLink=" " routerLinkActive=" active_link">Grocery & Essentials</a></li>
        <li><a routerLink=" " routerLinkActive=" active_link">New & Trending</a></li>
        <li><a routerLink=" " routerLinkActive=" active_link">Halloween</a></li>
        <li><a routerLink="login" routerLinkActive=" active_link">Baby Days</a></li>
        <li><a routerLink="home" routerLinkActive=" active_link">Home</a></li>
        <li><a routerLink=" " routerLinkActive=" active_link">Fashion</a></li>
        <li><a routerLink=" " routerLinkActive=" active_link">Electronics</a></li>
        <li><a routerLink=" " routerLinkActive=" active_link">Toy Shop</a></li>
        <li><a routerLink=" " routerLinkActive=" active_link">Registry</a></li>
      </ul>

     
      
    </div>
  </div>
</nav>
