<!-- <h1>{{user|json}}</h1> -->
<div class="container-fluid">
<nav class="navbar">
  <div class="row ">
    <!-- navbar navbar-expand-lg navbar-light bg-light py-3  -->
    <div class="navbar-top ">

      <div class="navbar-logo-location  col-s-12 col-md-2">
        <a routerLink="/" class="logo">
          <a routerLink="home"><img src="/5977595.png" alt="Logo"></a>

        </a>
        <div class="location ">
          <p>{{'header.How_do_you_want_your_items?'| translate}}</p>
      
        </div>
      </div>

<!-- /////////////////////////////////////////////////////////////////// -->




<!-- <nav>
  <ul>
    <li>{{ 'HOME' | translate }}</li>
    <li>{{ 'GROCERY' | translate }}</li>
    <li>{{ 'CLOTHING' | translate }}</li>
    <li>{{ 'ELECTRONICS' | translate }}</li>
    <li>{{ 'BABY' | translate }}</li>
    <li>{{ 'TOYS' | translate }}</li>
    <li>{{ 'HEALTH_WELLNESS' | translate }}</li>
    <li>{{ 'PERSONAL_CARE' | translate }}</li>
    <li>{{ 'BEAUTY' | translate }}</li>
    <li>{{ 'AUTO_TIRES' | translate }}</li>
  </ul>
</nav> -->












<!-- /////////////////////////////////////////////////////////////////// -->


      <div class="dropdown">
        <button class="btn btn-light dropdown-toggle bt-lang" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="true">
          {{lang}}
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><button class="dropdown-item"  (click)="switchLanguage('en')">En - English</button></li>
          <li><button class="dropdown-item"  (click)="switchLanguage('ar')">Ar - العربية</button></li>

        </ul>
      </div>

      <div class="navbar-search col-s-12 col-md-5">
        <input type="text"  (input)="onSearchInput($event)" placeholder="Search everything at Walmart online and in store">
        <button  class="search-button">
          <i (click)="onSearchClick()" class="fa fa-search"></i>
        </button>
      </div>


      <div class="navbar-actions col-s-12  col-md-3">
        <a href="#" class="action-item">{{'header.Reorder_My_Items'|translate}} <span> <i class="fa-regular fa-heart"
              style="color: #FFD43B;"></i></span></a>

              @if(user.id == null){
        <a routerLink="SignOrRegister" routerLinkActive="active_link" class="action-item">{{'header.Sign_In_Account'|translate}} <span><i class="fa-regular fa-user"
              style="color: #FFD43B;"></i></span></a>
            }

            @if(user.id != null){
              <a routerLink="account" routerLinkActive="active_link" class="action-item">{{user.firstName}} <span><i class="fa-regular fa-user"
                    style="color: #FFD43B;"></i></span></a>
                  }
        <!-- <a routerLink="/" class="cart-icon">
          <i class="fa fa-shopping-cart " style="color: #FFD43B;"></i>
          <span class="cart-total">$0.00</span>

        <a routerLink="SignOrRegister" routerLinkActive="active_link" class="action-item">Sign In Account <span><i
              class="fa-regular fa-user" style="color: #FFD43B;"></i></span></a>
               -->
        <a routerLink="order" class="cart-icon">
          <i class="fa fa-shopping-cart" style="position: relative !important;"></i>
          <span class="cont">{{count}}</span>
          <span routerLink="order" class="cart-total">${{totalprice}}</span>
        </a>
      </div>
    </div>

    <!-- <div id="largsmall" class="navbar-top d-flex align-items-center justify-content-between p-2 bg-primary text-white">

      <div class="navbar-logo-location d-flex align-items-center col-12 col-md-4 col-lg-3">
        <a routerLink="/" class="me-3">
          <img src="/5977595.png" alt="Logo" style="width: 40px; height: 40px;">
        </a>
        <div class="location d-none d-md-block">
          <p class="mb-0">How do you want your items?</p>
          <p class="mb-0 small">Sacramento, 95829 • Sacramento Supercenter</p>
        </div>
      </div>


      <div class="navbar-search col-12 col-md-5 col-lg-6 my-2 my-md-0">
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            placeholder="Search everything at Walmart online and in store"
          />
          <button class="btn btn-outline-light" type="button">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>


      <div class="navbar-actions d-flex align-items-center justify-content-end col-12 col-md-3">
        <a href="#" class="action-item text-white me-3 d-flex align-items-center">
          <i class="fa-regular fa-heart me-1" style="color: #FFD43B;"></i>
          <span>Reorder My Items</span>
        </a>
        <a
          routerLink="SignOrRegister"
          routerLinkActive="active_link"
          class="action-item text-white me-3 d-flex align-items-center"
        >
          <i class="fa-regular fa-user me-1" style="color: #FFD43B;"></i>
          <span>Sign In Account</span>
        </a>
        <a routerLink="/" class="cart-icon text-white d-flex align-items-center">
          <i class="fa fa-shopping-cart me-1" style="color: #FFD43B;"></i>
          <span class="cart-total">$0.00</span>
        </a>
      </div>
    </div> -->

    <!-- <div id="smallnav" class="navbar-top bg-primary text-white d-flex flex-column" style="display: none;">

      <div class="d-flex align-items-center justify-content-between p-2 w-100">

        <div class="d-flex align-items-center">

          <button class="btn text-white me-2 d-lg-none">
            <i class="fa fa-bars" aria-hidden="true"></i>
          </button>

          <a routerLink="/" class="me-3">
            <img src="/assets/logo.png" alt="Logo" style="width: 40px; height: 40px;">
          </a>
        </div>


        <div class="navbar-search flex-grow-1 mx-3">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search Walmart" />
            <button class="btn btn-outline-light" type="button">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>


        <div class="cart-icon d-flex align-items-center">
          <a routerLink="/" class="text-white d-flex align-items-center">
            <i class="fa fa-shopping-cart me-1" style="color: #FFD43B; font-size: 20px;"></i>
            <span class="cart-total">$0.00</span>
          </a>
        </div>
      </div>


      <div class="navbar-bottom bg-primary text-white p-1 d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center">
          <i class="fa fa-clipboard-check me-1" style="color: #FFD43B;"></i>
          <span>How do you want your items?</span>
          <button class="btn text-white ms-1" style="font-size: 0.9em;">
            <i class="fa fa-caret-down"></i>
          </button>
        </div>
        <div class="location-info d-flex align-items-center">
          <i class="fa fa-map-marker-alt me-1" style="color: #FFD43B;"></i>
          <span>Sacramento, 95829 • Sacramento Supercenter</span>
        </div>
      </div>
    </div> -->

    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-primary">
      <div class="container-fluid">

        <a class="navbar-brand text-white d-flex align-items-center" href="#">
          <img src="/5977595.png" alt="Logo" style="width: 30px;" class="me-2" />
          <span>How do you want your items?</span>
        </a>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle text-white"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Sacramento, 95829
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Change Location</a></li>
              </ul>
            </li>
          </ul>

          <form class="d-flex flex-grow-1 mx-3">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search everything at Walmart online and in store"
              aria-label="Search"
            />
            <button class="btn btn-outline-light" type="submit">
              <i class="fas fa-search"></i>
            </button>
          </form>

          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link text-white" href="#">Reorder My Items</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#">Sign In Account</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#">
                <i class="fas fa-shopping-cart"></i> $0.00
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="d-lg-none bg-primary text-white text-center py-2">
      <span>How do you want your items?</span> |
      <a href="#" class="text-white">Sacramento, 95829</a>
    </div> -->


    <!-- header -->
    <div class="navbar-bottom col-s-12" style="height: 48px;">
      <ul class="navbar-links " style="cursor: pointer;">
        <!-- <a routerLink=" " routerLinkActive=" active_link">Departments</a> -->
        <!-- <li>
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false" >
              Departments
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <div class="d-flex">

                <div class="list-group">
                  <button
                    *ngFor="let department of departments"
                    class="list-group-item list-group-item-action"
                    (mouseenter)="setActiveDepartment(department)"
                  >
                    {{ department.name }}
                  </button>
                </div>

                <div class="list-group flex-fill ms-3 p-3 bg-light" *ngIf="activeDepartment">
                  <h5>{{ activeDepartment.name }}</h5>
                  <button
                    *ngFor="let part of activeDepartment.parts"
                    class="list-group-item list-group-item-action border-0"
                  >
                    {{ part }}
                  </button>
                </div>
              </div>
            </div>
          </div>

        </li> -->
        <!-- /////// -->
        <!-- <li class="nav-item dropdown" (click)="toggleDropdown()">
          <a
            class="nav-link dropdown-toggle"
            id="departmentsDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Departments
          </a>
          <ul
            class="dropdown-menu"
            aria-labelledby="departmentsDropdown"
            [ngClass]="{ show: isDropdownOpen }"
          >
            <li class="d-flex">

              <ul class="list-group">
                <li
                  *ngFor="let department of departments"
                  class="list-group-item list-group-item-action"
                  (mouseenter)="setActiveDepartment(department)"
                >
                  {{ department.name }}
                </li>
              </ul>

              <ul
                class="list-group flex-fill ms-3 p-3 bg-light"
                *ngIf="activeDepartment"
              >
                <h5>{{ activeDepartment.name }}</h5>
                <li
                  *ngFor="let part of activeDepartment.parts"
                  class="list-group-item list-group-item-action border-0"
                >
                  {{ part }}
                </li>
              </ul>
            </li>
          </ul>
        </li> -->
        <!--  -->

        <li class="nav-item dropdown" (click)="toggleDropdown()">
          <a
            class="nav-link dropdown-toggle"
            id="departmentsDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
          {{ 'Departments' | translate }}
            <!-- Departments -->
          </a>
          <ul
            class="dropdown-menu"
            aria-labelledby="departmentsDropdown"
            [ngClass]="{ show: isDropdownOpen }"
          >
            <li class="d-flex">
              <!-- Left Side: Main Categories with Scroll -->
              <ul class="list-group">
                <li
                  *ngFor="let department of departments"
                  class="list-group-item list-group-item-action"
                  (mouseenter)="setActiveDepartment(department)"
                >
                  {{ department.name }}
                </li>
              </ul>

              <!-- Right Side: Subcategories with Scroll -->
              <ul
                class="list-group flex-fill ms-3 p-3 bg-light"
                *ngIf="activeDepartment"
              >
                <h5>{{ activeDepartment.name }}</h5>
                <li
                  *ngFor="let part of activeDepartment.parts"
                  class="list-group-item list-group-item-action border-0"
                >
                  {{ part }}
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <div id="fasel" class="flex ph2 items-center blue mr1 mh1">|</div>
        <!-- <li><a routerLink="/supcatogiarydeatails/1" routerLinkActive=" active_link">Grocery</a></li> -->
        <li><a routerLink="/supcatogiarydeatails/1" routerLinkActive="active_link">{{ 'GROCERY' | translate }}</a></li>

        <li><a routerLink="/categryditals/3" routerLinkActive=" active_link">Home</a></li>


        <li><a routerLink="/categryditals/4" routerLinkActive=" active_link">Patio & Garden</a></li>
        <li><a routerLink="/categryditals/2" routerLinkActive=" active_link">Clothing & Accessories</a></li>
        <li><a routerLink="/categryditals/1" routerLinkActive=" active_link">Electronics</a></li>
        <li><a routerLink="/categryditals/10" routerLinkActive=" active_link">Baby</a></li>
        <li><a routerLink="/categryditals/5" routerLinkActive=" active_link">Toys</a></li>
        <li><a routerLink="/categryditals/9" routerLinkActive=" active_link">Health & wellness</a></li>
        <li><a routerLink="/categryditals/7" routerLinkActive=" active_link">Personal Care</a></li>
        <li><a routerLink="/categryditals/8" routerLinkActive=" active_link">Beauty</a></li>
        <li><a routerLink="/categryditals/11" routerLinkActive=" active_link">Auto & tires</a></li>
        <li><a routerLink="/categryditals/" routerLinkActive=" active_link">Walmart+</a></li>
      </ul>



    </div>
  </div>
</nav>
</div>
