span {
  font-size: 11px;
  border-radius: 0px !important;
}

.border-bottom {
  font-size: 15px;
}

.flashb {
  color: #995213;
  background-color: #fff9e9;
}

.Bestb {
  background-color: #e6f1fc;
}

.min {
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.1s linear;
}

.min:hover {
  padding: 2px;
  color: #fff;
  background-color: rgb(110, 110, 110);
}

.plus {
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.1s linear;
}

.plus:hover {
  padding: 2px;
  color: #fff;
  background-color: rgb(110, 110, 110);
}
