<app-home-section-one>
</app-home-section-one>
<app-category></app-category>
<app-home-lay-out></app-home-lay-out>

<!-- <hr>
<br><br><br>
<app-paypaylcomponint>
</app-paypaylcomponint>
<br><br><br>
<hr> -->


<!-- <app-product-pagination-by-sub-cat></app-product-pagination-by-sub-cat>
 <app-product-pagination-by-sub-cat></app-product-pagination-by-sub-cat> -->
<app-product-pagination-by-sub-cat></app-product-pagination-by-sub-cat>
<app-product-pagination-by-sub-cat></app-product-pagination-by-sub-cat> 



