<div class="container">
  <div class="row">
    <div class="col-md-2 mb-2" *ngFor="let product of paginatedProducts">
      <div class="card video-card">
        <!-- Video or Image Section -->
        <div class="video-container">
          <video [src]="product.videoUrl" controls></video>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-between mt-4">
      <div class="buttonRL">
        <button class="circle-button" style="right:100%;" (click)="prevPage()" [disabled]="currentPage === 1">
          <i class="bi bi-chevron-left"></i> {{ 'previous' | translate }}
        </button>
      </div>
      <div class="buttonRL">
        <button class="circle-button" style="left: 100%;" (click)="nextPage()" [disabled]="(currentPage * itemsPerPage) >= videos.length">
          <i class="bi bi-chevron-right"></i> {{ 'next' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
