<div class="row">
  <div class="leftt col-s-12 col-3" style="position: relative;">
    <div class="image-contain" 
      style="background-image: url('https://i5.walmartimages.com/dfw/4ff9c6c9-ff8a/k2-_48d93bf4-2f2e-483a-9bca-9ce8451c4152.v1.jpg?odnHeight=222&odnWidth=395&odnBg=FFFFFF');">
      <div class="go" style="margin-top: -5%;">
        <a [routerLink]="['/routePath']"><i class="fa-solid fa-cart-shopping fa-fade" style="color: #0e0d0d;"></i></a>
      </div>
    </div>

    <div class="image-contain-one" 
      style="background-image: url('https://img.freepik.com/free-photo/warm-colors-vase-with-dark-flowers_23-2151843561.jpg?ga=GA1.1.1894664406.1694341712&semt=ais_hybrid');">
    </div>
    <br>

    <div class="image-contain" 
      style="background-image: url('https://images.pexels.com/photos/939331/pexels-photo-939331.jpeg?auto=compress&cs=tinysrgb&w=600');">
      <div class="go" style="margin-top: 5%;">
        <a [routerLink]="['/routePath']"><i class="fa-solid fa-cart-shopping fa-fade" style="color: #faf6f6;"></i></a>
      </div>
    </div>
  </div>

  <div class="middlee col-s-12 col-6" style="position: relative;">
    <div class="image-contain-middle" 
      style="background-image: url('https://images.unsplash.com/photo-1707485122968-56916bd2c464?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8YXBwbGUlMjBpcGhvbmV8ZW58MHx8MHx8fDA%3D');">
      <div class="go" style="margin-top: 5%;margin-left: -5%;">
        <a [routerLink]="['/routePath']"><i class="fa-solid fa-cart-shopping fa-fade" style="color: #fff9f9;"></i></a>
      </div>
    </div>
    <br>

    <div class="image-contain-middle" 
      style="background-image: url('https://i5.walmartimages.com/seo/Allewie-Queen-Size-Platform-Bed-Frame-with-Fabric-Upholstered-Headboard-No-Box-Spring-Needed-Dark-Grey_94e55157-3a8e-4e39-87cc-5edf36208c07.2c5b8df21f168e185cdf67b77e543374.jpeg?odnHeight=2000&odnWidth=2000&odnBg=FFFFFF');">
      <div class="go" style="margin-top: 5%;margin-left: -5%;">
        <a [routerLink]="['/routePath']"><i class="fa-solid fa-cart-shopping fa-fade" style="color: #fff9f9;"></i></a>
      </div>
    </div>
    <br>

    <div class="image-contain-middle" 
      style="background-image: url('https://images.unsplash.com/photo-1488813340362-2a31b5522ebe?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cGljdHVyZSUyMGZyYW1lfGVufDB8fDB8fHww');">
      <div class="go" style="margin-top: 5%;margin-left: -5%;">
        <a [routerLink]="['/routePath']"><i class="fa-solid fa-cart-shopping fa-fade" style="color: #fff9f9;"></i></a>
      </div>
    </div>
  </div>

  <div class="rightt col-s-12 col-3 " style="position: relative;">
    <div class="image-contain" 
      style="background-image: url('https://i5.walmartimages.com/dfw/4ff9c6c9-51bb/k2-_6616babb-2c61-41ad-bcf6-8293c7f321ba.v1.jpg?odnHeight=222&odnWidth=395&odnBg=FFFFFF');">
      <div class="go" style="margin-top: -5%;">
        <a [routerLink]="['/routePath']"><i class="fa-solid fa-cart-shopping fa-fade" style="color: #0e0d0d;"></i></a>
      </div>
    </div>

    <div class="image-contain-one" 
      style="background-image: url('https://img.freepik.com/free-photo/warm-colors-vase-with-dark-flowers_23-2151843530.jpg?ga=GA1.1.1894664406.1694341712&semt=ais_hybrid');">
    </div>
    <br>

    <div class="image-contain" 
      style="background-image: url('https://i5.walmartimages.com/dfw/4ff9c6c9-71c0/k2-_d18f8241-d0c9-4e3b-a18e-98a0a4c7444a.v1.jpg?odnHeight=290&odnWidth=290&odnBg=FFFFFF');">
      <div class="go">
        <a [routerLink]="['/routePath']"><i class="fa-solid fa-cart-shopping fa-fade" style="color: #0f0f0f;"></i></a>
      </div>
    </div>
  </div>
</div>

<!-- Static text that should be localized -->
<div class="container my-4">
  <h2 class="mb-3">{{ 'FLASH_DEALS' | translate }}</h2> <!-- Localized title -->
  <p>{{ 'UP_TO_65_OFF' | translate }}</p> <!-- Localized description -->
  <div class="row row-cols-2 row-cols-md-3 row-cols-lg-6 g-6">
    <!-- Dynamic content: No localization needed for product data -->
    <div *ngFor="let prd of fillpagnationproduct; let i = index">
      <div class="card-deck">
        <div class="card" style="width: 12rem">
          <img [src]="'https://localhost:7028'+ prd.imageUrls" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-text" style="color: green">
              Now ${{prd.price}}
              <span style="text-decoration: line-through; color: gray; font-size: 12px;">${{prd.price + prd.price * 0.1}}</span>
            </h5>
            <p class="card-text s">{{prd.title_en}}</p> <!-- Dynamic content from DB -->

            <a routerLink="" class="customBtn">{{ 'OPTIONS' | translate }}</a> <!-- Localized button -->
          </div>
        </div>
      </div>
    </div>
    <ng-template #empty>
      <h1>{{ 'NO_PRODUCTS' | translate }}</h1> <!-- Localized message for no products -->
    </ng-template>
  </div>
</div>
