.bigDealone {
  padding: 2%;
}


a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: 500;
}

.row {
  --bs-gutter-x: 0.5rem;
}

img {
  width: 100%;
  /* margin-left: 50px; */
  border-radius: 10px;
}

.first img {
  margin-bottom: 11px;
}

.third img {
  margin-bottom: 16px;
}

.ph img {
  margin-top: 22px;
  margin-bottom: 25px;
}

.seconde {
  padding-inline: 8px;
}



/* /////////////////////
 */

.card {
  border: none;
}

.customBtn {
  border: 1px solid black;
  padding-inline: 12px;
  padding-block: 5px;
  border-radius: 20px;

}

.s {
  height: 70px;
  margin-top: -10px;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
}

.s::after {
  content: '....';
  position: absolute;
  bottom: 0;
  right: 0;
  background: white;
  /* Match background color */
  padding-left: 5px;
  color: gray;
  /* Styling for the "Read more" link */
  cursor: pointer;
}
