<div class="accNav">
    <a href="#">My Account</a>
</div>
<hr>
<div class="container">
    <div class="row">
        <div class="col-4 sideBar">
           <!-- Account Section  -->
            <p class="d-inline-flex gap-1 pp">
                <i class="bi bi-person iconAcc" ></i>
                <span class="head">
                    
                    Account
                </span>

                <a class="btn btn-primary AccBtn" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                    <i class="bi bi-arrow-down-short"></i>
                </a>
              </p>  
              
              <div class="collapse" id="collapseExample">
                <div class="card card-body carSection ">
                    <a href="#">Home</a>
                    <a href="#">Purchase History</a>
                    <a href="#">Walmart + </a>
                    <a href="#">My Saving</a>
                    <a href="#">Walmart Cash</a>
                    <a href="#">Messegs</a>
                </div>

                <div class="card card-body carSection">
                    <h3>My items</h3>
                    <a href="#">Reorder</a>
                    <a href="#">Lists</a>
                    <a href="#">Subsciptions </a>
                    <a href="#">Registry</a>
                    <a href="#">Protection plans</a>
                 
                </div>


                <div class="card card-body carSection">
                    <h3>My Profile</h3>
                    <a href="#">Pets</a>
                    <a href="#">Vehicles</a>
                    <a href="#">Recipes <span style="background-color: yellow;">New</span> </a>
                    <a href="#">Giving and impact</a>
                </div>

                <div class="card card-body carSection">
                    <h3>Other Accounts</h3>
                    <a href="#">Pharmacy</a>
                    <a href="#">Photo</a>
                    <a href="#">Ebooks</a>
                </div>
              </div>


              <hr>
              <!-- Setting Section  -->


              <p class="d-inline-flex gap-1 pp">
                <i class="bi bi-gear iconAcc"></i>
                <span class="head">
                    Setting
                </span>

                <a class="btn btn-primary AccBtn" data-bs-toggle="collapse" href="#collapse2" role="button" aria-expanded="false" aria-controls="collapse2">
                    <i class="bi bi-arrow-down-short"></i>
                </a>
              </p>  
              
              <div class="collapse" id="collapse2">
                <div class="card card-body carSection ">
                    <a href="#">Home</a>
                </div>

                <div class="card card-body carSection">
                    <h3>Personal information</h3>
                    <a href="#">Contact info and password</a>
                    <a href="#">Addresses</a>
                    <a href="#">Wallet </a>
                </div>


                <div class="card card-body carSection">
                    <h3>Shopping settings</h3>
                    <a href="#">Language settings</a>
                </div>
              </div>
              <hr>
              <div class="signOut">
                <a href="#">Sign Out</a>
              </div>
          
        </div>
        <div class="col-8">
           <span style="font-size: 45px; font-weight: 400;">Hi , Name</span>
        </div>
    </div>
</div>