<div class="accNav">
    <a href="#">My Account</a>
</div>
<hr>
<div class="container">
    <div class="row">
        <div class="col-4 sideBar">
           <!-- Account Section  -->
            <p class="d-inline-flex gap-1 pp">
                <i class="bi bi-person iconAcc" ></i>
                <span class="head">
                    
                    Account
                </span>

                <a class="btn btn-primary AccBtn" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                    <i class="bi bi-arrow-down-short"></i>
                </a>
              </p>  
              
              <div class="collapse" id="collapseExample">
                <div class="card card-body carSection ">
                    <a href="#">Home</a>
                    <a routerLink="purechase" routerLinkActive="active_link">Purchase History</a>
                </div>

                <div class="card card-body carSection">
                    <h3>My items</h3>
                    <a routerLink="reorder" routerLinkActive="active_link">Reorder</a>
                    <a routerLink="lists" routerLinkActive="active_link">Lists</a>
                 
                </div>
              </div>


              <hr>
              <!-- Setting Section  -->


              <p class="d-inline-flex gap-1 pp">
                <i class="bi bi-gear iconAcc"></i>
                <span class="head">
                    Setting
                </span>

                <a class="btn btn-primary AccBtn" data-bs-toggle="collapse" href="#collapse2" role="button" aria-expanded="false" aria-controls="collapse2">
                    <i class="bi bi-arrow-down-short"></i>
                </a>
              </p>  
              
              <div class="collapse" id="collapse2">
                <div class="card card-body carSection ">
                    <a routerLink="#" routerLinkActive="active_link">Home</a>
                </div>

                <div class="card card-body carSection">
                    <h3>Personal information</h3>
                    <a routerLink="ContactInfo" routerLinkActive="active_link">Contact info and password</a>
                    <a routerLink="Addresses" routerLinkActive="active_link">Addresses</a>
                </div>


                <div class="card card-body carSection">
                    <h3>Shopping settings</h3>
                    <a routerLink="LanguageSetting" routerLinkActive="active_link">Language settings</a>
                </div>
              </div>
              <hr>
              <div class="signOut">
                <a routerLink="#" routerLinkActive="active_link">Sign Out</a>
              </div>
          
        </div>
        <div class="col-8">
           <!-- <span style="font-size: 45px; font-weight: 400;">Hi , {{user.firstName}}</span> -->
          
           <router-outlet></router-outlet>
        </div>
    </div>
</div>