
<div class="feedback-overlay " *ngIf="isVisible">
    <div class="feedback-container feedback">
      <p>Feedback</p><button class="close-button" (click)="closeFeedbackForm()">X</button><hr>
      <h3>Your feedback matters! Help us improve the Walmart website</h3>
      <p>(1 = Very poor, 5 = Excellent!)</p>
      <div class="stars">
        <span *ngFor="let star of stars; let index = index" 
              class="star" 
              [class.filled]="index < rating" 
              (click)="rate(index + 1)">
              <i class="fa-solid fa-star"></i>
         </span>
      </div>
      <button class="submit-button" (click)="submitRating()">Share with Walmart</button>
    </div>
</div>
