<!--
<div class="container-fluid mt-5">
  <div class="row">
    <div class="offset-md-1 col-md-3">
      <img src="https://i5.walmartimages.com/seo/Apple-iPhone-12-64GB-Red-5G-Fully-Unlocked-B-Grade-Used-Smartphone_e0a43f6f-84b2-44af-9e48-a9dc7c1758b0.792d5870d4d2e1053427dedd3e44800d.jpeg?odnHeight=200&odnWidth=200&odnBg=FFFFFF" alt="">
    </div>
    <div class="col-md-7">
      <h3>Iphone 12</h3>
      <p>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </p>
      <h3>500$</h3>
      <p class="mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore explicabo necessitatibus, dolorum inventore impedit unde eos, nulla ex iusto repellat voluptas aliquid et. Laboriosam beatae ipsa, mollitia eaque natus non.</p>
      <div class="row mt-2">
        <div class="col-md-3">
          <ngx-paypal [config]="payPalConfig"></ngx-paypal>
        </div>
      </div>
    </div>
  </div>
</div> -->


<!-- <div class="payment-container">

  <ngx-paypal [config]="payPalConfig"></ngx-paypal>
</div>
<div class="payment-info">
  <p>Amount: {{99}}</p>
</div>
<div style="display: flex; justify-content: center;">
<div  #elementRef></div>
</div> -->







<br>
<!-- <div  style="display: flex; justify-content: center">
  <ngx-paypal [config]="payPalConfig"></ngx-paypal>
</div> -->

<div id="paypal-button-container"></div>
