<h2>{{ 'contactInfoAndPassword' | translate }}</h2>
<h3>{{ 'personalInformation' | translate }}</h3>

<hr>

<div class="row">
  <p id="Massage" style="padding: 3px; width: 80%; color: white;"></p>
  <div class="col-7">
    <form (submit)="UpdateUserInfo()">
      <div class="mb-3">
        <label for="fname" class="form-label">{{ 'firstName' | translate }}</label>
        <input type="text" name="firstName" [(ngModel)]="user.firstName" class="form-control" id="fname">
      </div>

      <div class="mb-3">
        <label for="lname" class="form-label">{{ 'lastName' | translate }}</label>
        <input type="text" name="Lastname" [(ngModel)]="user.lastName" class="form-control" id="lname">
      </div>

      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">{{ 'emailAddress' | translate }}</label>
        <input type="email" name="Email" class="form-control" [(ngModel)]="user.email" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">{{ 'emailHelp' | translate }}</div>
      </div>

      <div class="mb-3">
        <label for="Phone" class="form-label">{{ 'phoneNumber' | translate }}</label>
        <input type="text" name="phone" [(ngModel)]="user.phoneNumber" class="form-control" id="Phone">
      </div>

      <button type="submit" class="btn btn-primary">{{ 'updateButton' | translate }}</button>
    </form>
  </div>

  <!-- Reset Password -->
  <div class="col-5">
    <form (submit)="RestPassord()" #myForm="ngForm">
      <div class="mb-3">
        <label for="Cpass" class="form-label">{{ 'currentPassword' | translate }}</label>
        <input type="password" name="oldPassword" [(ngModel)]="ResetPass.oldPassword" class="form-control" id="Cpass">
      </div>


      <!-- <                                                    يوجد خطا في هذا الكومنت يجب تصحيحه> -->


      <!-- <div class="mb-3">
        <label for="Npass" class="form-label">{{ 'newPassword' | translate }}</label>
        <input type="password" name="newPass" 
          min="8" 
          required
          pattern="^(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*(),.?\":{}|<>]).+$"
          #nameInp="ngModel"
          [(ngModel)]="ResetPass.newPassword" [(ngModel)]="ResetPass.confirmNewPassword" class="form-control" id="Npass">
      </div> -->

      <div *ngIf="nameInp.invalid && nameInp.touched">
        <p class="text-danger">{{ 'passwordUppercaseRequirement' | translate }}</p>
        <p class="text-danger">{{ 'passwordSpecialCharRequirement' | translate }}</p>
        <p class="text-danger">{{ 'passwordDigitRequirement' | translate }}</p>
        <p class="text-danger">{{ 'passwordMinLengthRequirement' | translate }}</p>
        <p class="text-danger">Min 8 characters</p>
      </div>

      <button type="submit" [disabled]="myForm.invalid" class="btn btn-primary">{{ 'resetPasswordButton' | translate }}</button>
    </form>
  </div>
</div>
