<h2>{{ 'contact-info.CONTACT_INFO_PASSWORD' | translate }}</h2>
<h3>{{ 'contact-info.PERSONAL_INFORMATION' | translate }}</h3>

<hr>

<div class="row">
 <p id="Massage" style="padding: 3px; width: 80%; color: white;"></p>
    <div class="col-7">
    
    <form (submit)="UpdateUserInfo()">
   
            <div class="mb-3">
              <label for="fname" class="form-label">{{ 'contact-info.FIRST_NAME' | translate }}</label>
              <input type="text" name="firstName" [(ngModel)]="user.firstName" class="form-control" id="fname">
            </div>
    
            <div class="mb-3">
              <label for="lname" class="form-label">{{ 'contact-info.LAST_NAME' | translate }}</label>
              <input type="text" name="Lastname" [(ngModel)]="user.lastName" class="form-control" id="lname">
              </div>
        
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">{{ 'contact-info.EMAIL_ADDRESS' | translate }}</label>
                <input type="email" name="Email" class="form-control" [(ngModel)]="user.email" id="exampleInputEmail1" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">{{ 'contact-info.EMAIL_HELP' | translate }}</div>
              </div>
    
        <div class="mb-3">
            <label for="Phone" class="form-label">Phone number</label>
            <input type="text" name="phone" [(ngModel)]="user.phoneNumber" class="form-control" id="Phone" >
        </div>
    
        <button type="submit" class="btn btn-primary">{{ 'contact-info.UPDATE' | translate }}</button>
      </form>
    </div>
    
    
    
    <!-- Reset Password -->
      <div class="col-5">
        <form (submit)="RestPassord()" #myForm ="ngForm">
            <div class="mb-3">
              <label for="Cpass" class="form-label">{{ 'contact-info.CURRENT_PASSWORD' | translate }}</label>
              <input type="password" name="oldPassword" [(ngModel)]="ResetPass.oldPassword" class="form-control" id="Cpass">
            </div>
    
            <div class="mb-3">
              <label for="Npass" class="form-label">{{ 'contact-info.NEW_PASSWORD' | translate }}</label>
              <input type="password" name="newPass" 
                min="8" 
                required
                pattern ='^(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*(),.?\":{}|<>]).+$'
                #nameInp = "ngModel"
                [(ngModel)]="ResetPass.newPassword"   [(ngModel)]="ResetPass.confirmNewPassword" class="form-control" id="Npass">
              </div>

              
              @if(nameInp.invalid && nameInp.touched){
                <p class="text-danger">{{ 'contact-info.PASSWORD_VALIDATION.UPPERCASE' | translate }}</p>
        <p class="text-danger">{{ 'contact-info.PASSWORD_VALIDATION.SPECIAL_CHAR' | translate }}</p>
        <p class="text-danger">{{ 'contact-info.PASSWORD_VALIDATION.DIGIT' | translate }}</p>
        <p class="text-danger">{{ 'contact-info.PASSWORD_VALIDATION.MIN_LENGTH' | translate }}</p>
      
              }
    
        <button type="submit"   [disabled]="myForm.invalid" class="btn btn-primary">{{ 'contact-info.RESET_PASSWORD' | translate }}</button>
      </form>
      </div>
</div>
