<h2>{{'accLang.Contact_info'|translate}}</h2>
<h3>{{'accLang.Personal_information'|translate}}</h3>

<hr>

<div class="row">
 <p id="Massage" style="padding: 3px; width: 80%; color: white;"></p>
    <div class="col-7">
    
    <form (submit)="UpdateUserInfo()" class="card card-body my-3">
   
            <div class="mb-3">
              <label for="fname" class="form-label">{{'accLang.First_Name'|translate}}</label>
              <input type="text" name="firstName" [(ngModel)]="user.firstName" class="form-control" id="fname">
            </div>
    
            <div class="mb-3">
                <label for="lname" class="form-label">{{'accLang.Last_Name'|translate}}</label>
                <input type="text" name="Lastname" [(ngModel)]="user.lastName" class="form-control" id="lname">
              </div>
        
       <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">{{'accLang.Email_address'|translate}}</label>
          <input type="email" name="Email" class="form-control" [(ngModel)]="user.email" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">{{'accLang.share'|translate}}</div>
        </div>
    
    
        <div class="mb-3">
            <label for="Phone" class="form-label">{{'accLang.Phone_number'|translate}}</label>
            <input type="text" name="phone" [(ngModel)]="user.phoneNumber" class="form-control" id="Phone" >
        </div>
    
        <button type="submit" class="btn btn-primary my-3">{{'accLang.Update'|translate}}</button>
      </form>
    </div>
    
    
    
    <!-- Reset Password -->
      <div class="col-5">
        <form (submit)="RestPassord()" #myForm ="ngForm"  class="card card-body my-3">
            <div class="mb-3">
              <label for="Cpass" class="form-label">{{'accLang.Current_Password'|translate}}</label>
              <input type="password" name="oldPassword" [(ngModel)]="ResetPass.oldPassword" class="form-control" id="Cpass">
            </div>
    
            <div class="mb-3">
                <label for="Npass" class="form-label">{{'accLang.New_Password'|translate}}</label>
                <input type="password" name="newPass" 
                min="8" 
                required
                pattern ='^(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*(),.?\":{}|<>]).+$'
                #nameInp = "ngModel"
                [(ngModel)]="ResetPass.newPassword"   [(ngModel)]="ResetPass.confirmNewPassword" class="form-control" id="Npass">
              </div>

              
              @if(nameInp.invalid && nameInp.touched){
                <p class="text-danger">Must be at least one uppercase letter.</p>
                <p class="text-danger">Must be at least one special character.</p>
                <p class="text-danger">Must be at least one uppercase letter.</p>
                <p class="text-danger"> Must be at least one digit</p>
                <p class="text-danger">Min 8 charachter</p>
              }
    
        <button type="submit"   [disabled]="myForm.invalid" class="btn btn-primary">{{'accLang.Reset_Password'|translate}}</button>
      </form>
      </div>
</div>
