<!-- Section One -->

<!-- <div class="bigDealone">
  <div class="row">

    <div class="first col-5">
      <a href=""><img src="Screenshot (808).png" alt=""></a>
    </div>
    <div class="seconde col-4">
      <a href=""> <img src="Screenshot (881).png" alt=""></a>
      <div class="row mt-2">
        <div class="col-6">
          <a href=""> <img src="Screenshot (882).png" alt=""></a>
        </div>
        <div class="col-6">
          <a href=""> <img src="Screenshot (888).png" alt=""></a>
        </div>
      </div>
    </div>
    <div class="third col-3 ">
      <a href=""> <img src="Screenshot (188).png" alt=""></a>
    </div>
  </div>
</div> -->
<!--
<br /> -->



<!-- <app-all-product></app-all-product> -->
<!--



Products





-->


<div class="bigDealttwo">
  <div class="row">
    <div class="first col-5">
      <a href=""><img src="Screenshot_(left)-transformed.png" alt=""></a>
    </div>
    <div class="seconde col-4">
      <a href=""> <img src="WhatsApp Image 2024-10-27 at 3.51.49 AM.jpeg" alt=""></a>
      <div class="row mt-2">
        <div class="col-6">
          <a href=""> <img src="pixelcut-export (1).png" alt=""></a>
        </div>
        <div class="col-6">
          <a href=""> <img src="Screenshot_(92)-blFI0inha-transformed.png" alt=""></a>
        </div>
      </div>
    </div>
    <div class="third col-3 ">
      <a href=""> <img src="pixelcut-export (2).png" alt=""></a>
    </div>
  </div>
</div>

<br>

<app-product-pagination-by-sub-cat [subcatid]="2"></app-product-pagination-by-sub-cat>


<div class="bigDealthree">
  <div class="row">



    <div class="first col-5">
      <a href=""><img src="WhatsApp Image 2024-10-27 at 3.24.48 AM.jpeg" alt=""></a>
    </div>
    <div class="seconde col-4">
      <a href=""> <img src="/WhatsApp Image 2024-10-27 at 3.51.49 AM.jpeg" alt=""></a>
      <div class="row mt-2">
        <div class="col-6">
          <a href=""> <img src="/WhatsApp Image 2024-10-27 at 4.09.42 AM.jpeg" alt=""></a>
        </div>
        <div class="col-6">
          <a href=""> <img src="/WhatsApp Image 2024-10-27 at 4.10.39 AM.jpeg" alt=""></a>
        </div>
      </div>
    </div>
    <div class="third col-3 ">
      <a href=""> <img src="/WhatsApp Image 2024-10-27 at 4.31.40 AM.jpeg" alt=""></a>
    </div>
  </div>
</div>

<div style="padding-top: 100px;overflow: hidden;">

  <app-product-pagination-by-sub-cat [subcatid]="4"></app-product-pagination-by-sub-cat>
</div>

<br>


<!-- <app-product-pagination-by-sub-cat></app-product-pagination-by-sub-cat> -->

<div class="all-vid mb-4">
  <div class="vdesc ">
    <h3>Featured in video</h3>
    <!-- <span class="text-muted">See what creators are sharing</span> -->
  </div>
  <div class="vi row">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <video #myVideo (mouseenter)="playVideo(myVideo)" (mouseleave)="pauseVideo(myVideo)" muted
        class="embed-responsive-item" controls>
        <source
          src="https://advertising.walmart.com/thunder/assets/media-service/wcnp-prod/videos/29466974-4139-4d93-9046-10e72aa1007a/transcode/042952a0-73aa-48a9-84ed-acd57bbe1447/720x1280_PROGRESSIVE_c35.mp4"
          type="video/mp4">
        Your browser does not support the video tag.
      </video>

    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">

      <video #myVideo1 (mouseenter)="playVideo(myVideo1)" (mouseleave)="pauseVideo(myVideo1)" muted
        class="embed-responsive-item" controls>
        <source
          src="https://advertising.walmart.com/thunder/assets/media-service/wcnp-prod/videos/3af431af-9b27-42b3-8850-78531aa9b699/transcode/d46b9664-87e4-49d7-a0d1-110aa1a1bf66/720x1280_PROGRESSIVE_e67.mp4"
          type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">

      <video #myVideo2 (mouseenter)="playVideo(myVideo2)" (mouseleave)="pauseVideo(myVideo2)" muted
        class="embed-responsive-item" controls>
        <source
          src="https://advertising.walmart.com/thunder/assets/media-service/wcnp-prod/videos/078ae34a-a600-4b3c-b3fe-174a4da26b9c/transcode/ff91251e-ec1f-4f99-84ed-5eee9750823d/720x1280_PROGRESSIVE_54a.mp4"
          type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">

      <video #myVideo3 (mouseenter)="playVideo(myVideo3)" (mouseleave)="pauseVideo(myVideo3)" muted
        class="embed-responsive-item" controls>
        <source
          src="https://advertising.walmart.com/thunder/assets/media-service/wcnp-prod/videos/22267e5e-610d-428a-a8bd-53f33a6dee2c/transcode/4d6ba616-5da0-4de5-a91e-158d7790c9ac/720x1280_PROGRESSIVE_182.mp4"
          type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
  </div>
</div>





<!--



Products





-->
<!-- <app-product-pagination-by-sub-cat></app-product-pagination-by-sub-cat> -->









<!-- <div class="bigDealfour">
        <div class="row">
          <div class="first col-5">
            <a href=""><img src="Screenshot (85).png" alt=""></a>
          </div>
          <div class="seconde col-4">
            <a href=""> <img src="Screenshot (87).png" alt=""></a>
            <div class="row mt-2">
              <div class="col-6">
                <a href=""> <img src="Screenshot (88).png" alt=""></a>
              </div>
              <div class="col-6">
                <a href=""> <img src="Screenshot (899).png" alt=""></a>
              </div>
            </div>
          </div>
          <div class="third col-3 ">
            <a href=""> <img src="Screenshot (91).png" alt=""></a>
          </div>
        </div>
      </div> -->


<!--
Products

-->
<!-- <app-video-slider></app-video-slider> -->



<!-- <br /> -->






<!-- Card Structure If You need -->

<!-- <div class="card" style="width: 10rem;">
          <img
            src="https://i5.walmartimages.com/seo/Restored-Apple-iPhone-12-Mini-Carrier-Unlocked-64-GB-Black-Refurbished_3918418c-63b8-4514-88f6-77c1ed8ef2dc.81dbe823263b12c8999f50ff4f455887.jpeg?odnHeight=2000&odnWidth=2000&odnBg=FFFFFF"
            class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-text" style="color: green;">Now $33 <span
                style="text-decoration: line-through;color: gray; font-size: 12px;">$39.55</span></h5>
            <p class="card-text s">Some quick example text to build on the card title and make up the bulk of the card's
              content.
            </p>


            <a routerLink="" class="customBtn">Options</a>
          </div>
         -->
<!--          -->
<!-- </div> -->