<p>home-section-big-colliction works!</p>

<!--



Products





-->





<!-- Section One -->

<div class="bigDealone">
  <div class="row">

    <div class="first col-5">
      <a href=""><img src="Screenshot (808).png" alt=""></a>
    </div>
    <div class="seconde col-4">
      <a href=""> <img src="Screenshot (881).png" alt=""></a>
      <div class="row mt-2">
        <div class="col-6">
          <a href=""> <img src="Screenshot (882).png" alt=""></a>
        </div>
        <div class="col-6">
          <a href=""> <img src="Screenshot (888).png" alt=""></a>
        </div>
      </div>
    </div>
    <div class="third col-3 ">
      <a href=""> <img src="Screenshot (188).png" alt=""></a>
    </div>
  </div>
  <br />





  <!--



Products





-->


  <div class="bigDealttwo">
    <div class="row">
      <div class="first col-5">
        <a href=""><img src="Screenshot_(left)-transformed.png" alt=""></a>
      </div>
      <div class="seconde col-4">
        <a href=""> <img src="WhatsApp Image 2024-10-27 at 3.51.49 AM.jpeg" alt=""></a>
        <div class="row mt-2">
          <div class="col-6">
            <a href=""> <img src="pixelcut-export (1).png" alt=""></a>
          </div>
          <div class="col-6">
            <a href=""> <img src="Screenshot_(92)-blFI0inha-transformed.png" alt=""></a>
          </div>
        </div>
      </div>
      <div class="third col-3 ">
        <a href=""> <img src="pixelcut-export (2).png" alt=""></a>
      </div>
    </div>
    <br>
    <!--



Products





-->





    <div class="bigDealthree">
      <div class="row">



        <div class="first col-5">
          <a href=""><img src="WhatsApp Image 2024-10-27 at 3.24.48 AM.jpeg" alt=""></a>
        </div>
        <div class="seconde col-4">
          <a href=""> <img src="/WhatsApp Image 2024-10-27 at 3.51.49 AM.jpeg" alt=""></a>
          <div class="row mt-2">
            <div class="col-6">
              <a href=""> <img src="/WhatsApp Image 2024-10-27 at 4.09.42 AM.jpeg" alt=""></a>
            </div>
            <div class="col-6">
              <a href=""> <img src="/WhatsApp Image 2024-10-27 at 4.10.39 AM.jpeg" alt=""></a>
            </div>
          </div>
        </div>
        <div class="third col-3 ">
          <a href=""> <img src="/WhatsApp Image 2024-10-27 at 4.31.40 AM.jpeg" alt=""></a>
        </div>
      </div>
      <br>
      <!--



Products





-->


      <div class="bigDealfour">
        <div class="row">
          <div class="first col-5">
            <a href=""><img src="Screenshot (85).png" alt=""></a>
          </div>
          <div class="seconde col-4">
            <a href=""> <img src="Screenshot (87).png" alt=""></a>
            <div class="row mt-2">
              <div class="col-6">
                <a href=""> <img src="Screenshot (88).png" alt=""></a>
              </div>
              <div class="col-6">
                <a href=""> <img src="Screenshot (899).png" alt=""></a>
              </div>
            </div>
          </div>
          <div class="third col-3 ">
            <a href=""> <img src="Screenshot (91).png" alt=""></a>
          </div>
        </div>


        <!--



Products





-->




        <br />






        <!-- Card Structure If You need -->

        <!-- <div class="card" style="width: 10rem;">
          <img
            src="https://i5.walmartimages.com/seo/Restored-Apple-iPhone-12-Mini-Carrier-Unlocked-64-GB-Black-Refurbished_3918418c-63b8-4514-88f6-77c1ed8ef2dc.81dbe823263b12c8999f50ff4f455887.jpeg?odnHeight=2000&odnWidth=2000&odnBg=FFFFFF"
            class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-text" style="color: green;">Now $33 <span
                style="text-decoration: line-through;color: gray; font-size: 12px;">$39.55</span></h5>
            <p class="card-text s">Some quick example text to build on the card title and make up the bulk of the card's
              content.
            </p>


            <a routerLink="" class="customBtn">Options</a>
          </div>
        </div> -->
        <!--          -->
