.bigDealone {
  padding: 2%;
}

a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: 500;
}

.row {
  --bs-gutter-x: 0.5rem;
}

img {
  width: 100%;
  /* margin-left: 50px; */
  border-radius: 10px;
}



/* /////////////////////
 */

.card {
  border: none;
}

.customBtn {
  border: 1px solid black;
  padding-inline: 12px;
  padding-block: 5px;
  border-radius: 20px;

}

.s {
  height: 70px;
  margin-top: -10px;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
}

.s::after {
  content: '....';
  position: absolute;
  bottom: 0;
  right: 0;
  background: white;
  /* Match background color */
  padding-left: 5px;
  color: gray;
  /* Styling for the "Read more" link */
  cursor: pointer;
}



/*  */
video {
  height: 550px;
  border-radius: 10px;
  margin-right: 10px;

}

.vdesc {
  margin-left: 2%;
  padding-block: 50px;
  font-weight: bolder;
}

.vdesc span {

  font-size: 15px;
  font-weight: 300;

}

.vi {

  padding-inline: 10px;
  /* justify-content: center; */


}

video {
  margin-left: 2px !important;
}