<div class="headd">

  <span>Checkout</span>

  <span class="back" routerLink="/order">
    &lt; </span>

</div>
<div class="row ">
  <div class="all   mt-4 col-lg-8  border rounded">
    <!-- Shipping Information -->
    <!-- <h4 class="fw-bold mb-3 p-2">Cart <span style="font-weight: 400;"> ({{ num }} items)</span> </h4> -->
    <div class="shape p-4 bg-light border rounded mb-3 text-primary d-flex">
      <div style="margin-right: 2%;">
        <img
          src="https://i5.walmartimages.com/dfw/63fd9f59-1b5e/5452ae02-a31f-4ef1-9a45-62ac0b06c13b/v1/mci-shipping.svg"
          alt="">
      </div>
      <div>
        <p class="mb-0 fw-bold"> Shipping, arrives by {{Day}}, {{Month}}</p>
        <small>Order within <span class="fw-bold">7 hr 44 min</span></small> |
      </div>
    </div>

    <!-- Cart Items Section -->
    <p class="text-muted ps-3" style="font-size: 13px;">* Required fields</p>
    <div class="shipping-address ps-3">
      <h4 style="font-size: 15px; font-weight: bold;">Shipping address</h4>
      <p>Where should we deliver your order?</p>

    </div>
    <form (ngSubmit)="Addshapment()">
      <div class=" row p-3" style="--bs-gutter-x: 1rem">
<!-- 
          <label for="">First Name : {{user.firstName}}</label>
          <label for="">Address : {{user.address}}</label> -->

        <div class="left col-lg-6">
         

          <div class="form-group">
            <label>Street address*</label>
            <input type="text" [(ngModel)]="shepment.address" name="Address" placeholder="Street address"
              #addinp="ngModel" required minlength="3" maxlength="150">
            @if(addinp.invalid && addinp.touched)
            {
            @if(addinp.hasError('required')){

            <p class="text-danger">Address Is Requaried</p>
            }
            @if(addinp.hasError('minlength')){

            <p class="text-danger">Address Must be More than 3 Char </p>
            }
            @if(addinp.hasError('maxlength')){

            <p class="text-danger">maxlength Must be less than 150 Char </p>
            }
            }
          </div>


        </div>
        <div class="right col-lg-6">
          <div class="d-flex">
            <div class="form-group" style="width: 100%;margin-right: 10px;">
              <label>State*</label>
              <select [(ngModel)]="shepment.Country" name="Country">
                <option value="NY">NY</option>
                <!-- Add other states here -->
              </select>
            </div>


            <div class="form-group" style="width: 100%;">
              <label>Zip code*</label>
              <input type="text" [(ngModel)]="shepment.ZipCode" name="ZipCode" placeholder="Zip code" #zipinp="ngModel"
                required minlength="3" maxlength="10">
              @if(zipinp.invalid && zipinp.touched)
              {
              @if(zipinp.hasError('required')){

              <p class="text-danger">ZipCode Is Requaried</p>
              }
              @if(zipinp.hasError('minlength')){

              <p class="text-danger">ZipCode Must be More than 3 Char </p>
              }
              }
            </div>



          </div>
          <div class="form-group">
            <label>City*</label>
            <input type="text" [(ngModel)]="shepment.City" name="City" placeholder="City">
          </div>



        </div>



        <div class="form-group">
          <label>Delivery notes</label>
          <textarea placeholder="Building description, nearby landmark, etc."></textarea>
        </div>
      </div>

      <div class="prfere d-flex">
        <div>

          <p>More delivery instructions</p>

          <span style="color: rgb(44, 43, 43);"> <input type="checkbox" name="" id="">Set as my preferred
            delivery
            address</span>
        </div>
        <div>
          <!-- <a type="Submit" routerLinkActive="router-link-active"
            class="btnA btn btn-primary">Save 
          </a> -->

          <input type="submit" value="Save">
        </div>
      </div>

    </form>






    <hr />
    <div class="itemDetails">

      <h5 style="color: #2e2f32;">Item details</h5>
      <p>Arrives by {{Day}}, {{Month}},order within 1 hr 44 min</p>
    </div>

    <hr>

    <div class="item">
      <app-orderitems></app-orderitems>
    </div>





    <br>


    <div class="paymentoff  border rounded d-flex">

      <div class="iconwalet">
        <i class="fa-solid fa-wallet" style="color: #a6adb9;"></i>

        <h4 style="display: inline;">2. Payment method</h4>

      </div>

      <div class="off">
        <i class="fa-solid fa-minus" style="color: #5b5f67;"></i>
      </div>


    </div>

    <br>

    <div class="paymentoff  border rounded d-flex">

      <div class="iconwalet">
        <i class="fa-solid fa-mobile" style="color:  #a6adb9;"></i>

        <h4 style="display: inline;">
          3. Text updates for this order</h4>

      </div>

      <div class="off">
        <i class="fa-solid fa-minus" style="color: #5b5f67;"></i>
      </div>


    </div>



  </div>




  <!-- Checkout Summary Section -->
  <div class="col-lg-4 sumery">
    <!-- <app-checkout-summary [products]="products"></app-checkout-summary> -->
    <app-shapementsummery></app-shapementsummery>
  </div>


</div>
<app-order-shapmentfooter></app-order-shapmentfooter>
