<div class="container-fluid parent">
    <div class="col-2 sidebar">
      <div class="">
      <div class="filter-section" *ngFor="let section of sections; let i = index">
    <button class="filter-header" (click)="toggleSection(i)">
      {{ section }}
      <i [class]="openedSections[i] ? 'fas fa-chevron-up' : 'fas fa-chevron-down'"></i>
    </button>
    <div class="filter-content" *ngIf="openedSections[i]">
      <!-- Add filter options here -->
    </div>
  </div>
</div>

    </div>
    <div class="felx">
      <!-- loop -->
        <div class="product-card" style="width: 24%;" *ngFor="let pro of allProducts" (click)="Details(pro.id)">
            <img [src]="url + pro.imageUrls[0]" class="card-img-top" alt="productImage"><br>
            <a><button class="btn">+ Add</button> </a><br>          
            <div class="card-body">
              <span class="price">{{pro.price}}</span><br>
              <span class="card-text">{{pro.description_en}}</span><br>
              <div>
                <i class="fa-solid fa-star rating"></i>
                <i class="fa-solid fa-star rating"></i>
                <i class="fa-solid fa-star rating"></i>
                <i class="fa-solid fa-star rating"></i>
                <i class="fa-solid fa-star rating"></i>
              (5.0)     | <a href="#">11 ratings</a>
            </div>
            </div>
          </div>
          <!-- end loop -->
    </div>
  </div>
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item" [class.disabled]="currentPage == 1">
        <a class="page-link pointer"  aria-label="Previous" (click)="onPageChange(currentPage - 1)">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li
      class="page-item"
      *ngFor="let page of [].constructor(totalPages); let i = index"
      [class.active]="currentPage === i + 1">
      <a class="page-link pointer" (click)="onPageChange(i + 1)">{{ i + 1 }}</a>
    </li>
      <li class="page-item">
        <a class="page-link pointer"  aria-label="Next" (click)="onPageChange(currentPage - 1)">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
  