<div class="" style="padding-inline: 50px;">
  @if(lang=='en'){
  <div class="row">
    <div class="col-4  col-md-3 col-lg-2 mb-2" *ngFor="let item of getpaginatedProducts(); let i=index;">
      <div class="text-center">
        <a [routerLink]="['/categryditals', item.id]" style="text-decoration: none; color: black">
          @if(item.id >12){
          <img [src]="url +item.image" alt="{{ item.name_en }}" width="120&odn" height="120" />
          }
          @else {
          <img [src]="item.image" alt="{{ item.name_en }}" />
          }

          <p>{{ item.name_en }}</p>
        </a>
      </div>
    </div>
    <div class="d-flex justify-content-between mt-4">
      <div class="buttonRL">
        <button class="circle-button" style="right: 100%" (click)="prevPage()" [disabled]="currentPage === 0">
          <i class="bi bi-chevron-left"></i>
        </button>
      </div>
      <div class="buttonRL">
        <button class="circle-button" style="left: 100%" (click)="nextPage()"
          [disabled]="currentPage * itemsPerPage >= AllCAtegory.length">
          <i class="bi bi-chevron-right"></i>
        </button>
      </div>
    </div>
  </div>
  }
  @if(lang=='ar'){
  <div class="row">
    <div class="col-md-2 mb-2" *ngFor="let item of getpaginatedProducts()">
      <div class="text-center">
        <a [routerLink]="['/categryditals', item.id]" style="text-decoration: none; color: black">
          @if(item.id >12){
          <img [src]="url +item.image" alt="{{ item.name_en }}" width="120&odn" height="120" />
          }
          @else {
          <img [src]="item.image" alt="{{ item.name_en }}" />
          } <p>{{ item.name_ar }}</p>
        </a>
      </div>
    </div>
    <div class="d-flex justify-content-between mt-4">
      <div class="buttonRL pe-4">
        <button class="circle-button" style="right: 100%" (click)="prevPage()" [disabled]="currentPage === 0">
          <i class="bi bi-chevron-right"></i>
        </button>
      </div>
      <div class="buttonRL ps-4">
        <button class="circle-button" style="left: 100%" (click)="nextPage()"
          [disabled]="currentPage * itemsPerPage >= AllCAtegoryAr.length">
          <i class="bi bi-chevron-left"></i>

        </button>
      </div>
    </div>
  </div>
  }


  <!-- //////////////// -->

  <!-- <div class="row">
  <div class="col-md-4">
    <div class="aside-container">
      <div *ngFor="let image of images" class="image-container">
        <div class="image-circle" [style.backgroundImage]="'url(' + image.url + ')'"></div>
        <p class="text-center">{{ image.name }}</p>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <div class="image-row d-flex flex-wrap justify-content-center">
      <div *ngFor="let image of images.slice(0, 6)" class="image-container col-2">
        <div class="image-circle" [style.backgroundImage]="'url(' + image.url + ')'"></div>
        <p class="text-center">{{ image.name }}</p>
      </div>
    </div>

    <div class="image-row d-flex flex-wrap justify-content-center mt-4">
      <div *ngFor="let image of images.slice(6, 12)" class="image-container col-2">
        <div class="image-circle" [style.backgroundImage]="'url(' + image.url + ')'"></div>
        <p class="text-center">{{ image.name }}</p>
      </div>
    </div>


    <div class="row mt-4">
      <div class="col-md-8">
        <div class="image-container">
          <div class="image-square" [style.backgroundImage]="'url(' + newImages[0].url + ')'"></div>
          <p class="text-center">{{ newImages[0].name }}</p>
        </div>
      </div>
      <div class="col-md-8"> تأخذ 8 كولوم
        <div class="image-container">
          <div class="image-square" [style.backgroundImage]="'url(' + newImages[1].url + ')'"></div>
          <p class="text-center">{{ newImages[1].name }}</p>
        </div>
      </div>
    </div>

  </div>
</div> -->
</div>