<style>
    body {
        background-color: #f8f9fa;
        height: 100%;
        margin: 0;
        align-items: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    .card {
        border-style: none;
    }
    
    h2 {
        color: #333;
        font-size: 18px;
    }
    
    input {
        min-height: 56px;
    }
    
    button {
        width: 100%;
        margin-bottom: 3px;
        border-radius: 62.5rem;
    }
    
    input:focus {
        border-style: none !important;
        box-shadow: none !important;
        outline: none !important;
        border: 4px solid black !important;
    }
    </style>
    
    <div class="container my-5 w-450">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-5">
                <div class="card p-4">
                    <img class="mb-3" src="5977595.png" style="max-width: 75px; max-height: 74px; margin:auto;">
    
                    <h2 class="text-center mb-4">{{ 'Create_Your_Account' | translate }}</h2>
                    
                    <form (ngSubmit)="onSubmit()" #myForm="ngForm">
                        <div class="form-group mb-3">
                            <label for="email" name="Email">{{ Email }}</label>
                            <a routerLink="/SignOrRegister" style="float: right;">{{ 'Change_it' | translate }}</a>
                        </div>
    
                        <div class="form-group">
                            <label for="fname">{{ 'First_Name' | translate }}</label>
                            <input type="text" class="form-control" id="fname" [(ngModel)]="UserReg.FirstName" name="firstname" placeholder="{{ 'Enter_your_name' | translate }}" required>
                        </div>
    
                        <div class="form-group">
                            <label for="lname">{{ 'Last_Name' | translate }}</label>
                            <input type="text" class="form-control" id="lname" [(ngModel)]="UserReg.LastName" name="lastname" required>
                        </div>
    
                        <div class="form-group">
                            <label for="phone">{{ 'Phone_Number' | translate }}</label>
                            <input type="text" class="form-control" id="phone" [(ngModel)]="UserReg.PhoneNumber" name="phone" required>
                        </div>
    
                        <div class="form-group">
                            <label for="pass">{{ 'Create_Password' | translate }}</label>
                            <!-- <input type="password"
                                min="8"
                                required
                                pattern="^(?=.*[A-Z])(?=.*\d)(?=.*[_!@#$%^&*(),.?\":{}|<>]).+$"
                                #nameInp="ngModel"
                                class="form-control" id="pass" [(ngModel)]="UserReg.Password" name="password" required> -->
                            
                            <div *ngIf="nameInp.invalid && nameInp.touched">
                                <p class="text-danger">{{ 'Password_Uppercase' | translate }}</p>
                                <p class="text-danger">{{ 'Password_Special_Character' | translate }}</p>
                                <p class="text-danger">{{ 'Password_Uppercase' | translate }}</p>
                                <p class="text-danger">{{ 'Password_Digit' | translate }}</p>
                                <p class="text-danger">{{ 'Password_Min_8_Characters' | translate }}</p>
                            </div>
                        </div>
    
                        <div class="form-group">
                            <input type="checkbox" id="check" style="display: inline;">
                            <label for="check">{{ 'Send_Me_Emails' | translate }}</label>
                        </div>
    
                        <button type="submit" [disabled]="myForm.invalid" class="btn btn-primary btn-block">{{ 'Sign_Up' | translate }}</button>
                    </form>
                    
                    <p class="text-center mt-3">{{ 'Already_Have_Account' | translate }} <a routerLink="/SignOrRegister">{{ 'Log_In' | translate }}</a></p>
                </div>
            </div>
        </div>
    </div>
    