
<style>
body {
    background-color: #f8f9fa;
    height: 100%;
      margin: 0;
      align-items: center;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, sans-serif;

}

.card {
  border-style:none ;
}

h2 {
    color: #333;
    font-size: 18px;
}
input{
        min-height: 56px;
      }

      button{
        width: 100%;
        margin-bottom: 3px;
        border-radius: 62.5rem;
      }

input:focus{
    border-style: none !important;
    box-shadow: none !important;
    outline: none !important;
    border: 4px solid black !important;
}

</style>


<div class="container my-5 w-450">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5">
            <div class=" card p-4">
    <img class="mb-3" src="5977595.png" style="max-width: 75px; max-height: 74px; margin:auto;">

                <h2 class="text-center mb-4">Create Your Walmart Account</h2>
                <form (ngSubmit)="onSubmit()"  #myForm ="ngForm">
                    <div class="form-group mb-3">
                        <label for="email"  name="Email">{{Email}}</label>
                        <a routerLink="/SignOrRegister" style="float: right;" >Change it</a>
                    </div>
                    <div class="form-group">
                        <label for="fname">First Name</label>
                        <input type="text" class="form-control" id="fname" [(ngModel)]="UserReg.FirstName" name="firstname" placeholder="Enter your email" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Last name</label>
                        <input type="text" class="form-control " id="lname" [(ngModel)]="UserReg.LastName" name="lastname"  required>
                    </div>

                    <div class="form-group">
                        <label for="phone">Phone Number</label>
                        <input type="text" class="form-control" id="phone" [(ngModel)]="UserReg.PhoneNumber" name="phone" required>
                    </div>

                    <div class="form-group">
                        <label for="pass">Create Password</label>
                        <input type="password"
                        min="8"
                        required
                        pattern ='^(?=.*[A-Z])(?=.*\d)(?=.*[_!@#$%^&*(),.?\":{}|<>]).+$'
                        #nameInp = "ngModel"
                        class="form-control" id="pass" [(ngModel)]="UserReg.Password" name="password" required>

                        @if(nameInp.invalid && nameInp.touched){
                        <p class="text-danger">Must be at least one uppercase letter.</p>
                        <p class="text-danger">Must be at least one special character.</p>
                        <p class="text-danger">Must be at least one uppercase letter.</p>
                        <p class="text-danger"> Must be at least one digit</p>
                        <p class="text-danger">Min 8 charachter</p>
                    }
                    </div>
                    <div class="form-group">
                        <input type="checkbox" id="check" style="display: inline;">
                        <label for="check">Send me emails about new arrivals, hot items, daily savings and more.</label>
                    </div>
                    <button type="submit" [disabled]="myForm.invalid" class="btn btn-primary btn-block">Sign Up</button>
                </form>
                <p class="text-center mt-3">Already have an account? <a routerLink="/SignOrRegister">Log in</a></p>
            </div>
        </div>
    </div>
</div>
