<!-- <p>product-pagination-by-sub-cat works!</p> -->

<div class="" style="padding-inline: 40px; overflow: hidden;">
  <div class="row">
    <div class=" col-4  col-md-3 col-lg-2 mb-2" *ngFor="let product of paginatedProducts">
      <div class="card h-100 text-center">
        <!-- <button href="" style="border: none;"> -->

        <a (click)="Details(product.id)">
          <div>
            <img [src]="url +product.imageUrls" class="card-img-top" alt="{{ product.title_en }}" width="175px"
              height="175px">
          </div>
        </a>
        <!-- <div class="mt0 mb0" data-testid="variant-139316560" style="height: 24px;"></div> -->
        <div class="card-body" style="background-color: white;text-align: left;">
          <div id="product_price" class="flex flex-wrap justify-start items-center lh-title mb1-m">
            <div id="discountprice" class="mr1 mr2-xl b black green lh-copy f5 f4-l" aria-hidden="true">
              @if(lang=='en'){
              Now
              }
              @else{
              الآن
              }
              ${{ product.price }}</div>
            <span class="w_iUH7">current price ${{ product.price }}</span>
            <!-- <h6 class="text-success fw-bold">Now ${{ product.price }}</h6> -->
            <!-- <p class="text-muted"><s>${{ product.price + product.price * 0.1 }}</s></p> -->
            <div id="oldprice" class="gray mr1 strike f7 f6-l" aria-hidden="true">${{ product.price + product.price *
              0.1 }}</div>
            <span class="w_iUH7">Was ${{ product.price + product.price * 0.1 }}</span>
          </div>
          <span id="title1" class>
            <span id="title2" class="w_V_DM" style="-webkit-line-clamp: 2; padding-bottom: 0em; margin-bottom: 0em;">
              <span id="title3" data-automation-id="product-title" class="normal dark-gray mb0 mt1 lh-title f6 f5-l">
                @if(lang=='en'){
                <!-- {{  }} -->
                {{product.description_en}}
                }
                @else{
                {{ product.description_ar }}
                <!-- product.description_ar -->
                }
              </span>
            </span>
          </span>

          <button class="btfar btn btn-link text-decoration-none">

            <i class="far fa-heart" (click)="addtoFavourite(product.id)"></i>

          </button>

        </div>
        <!-- </button> -->
        <div id="btnadd" class="relative dib" dib>
          <button id="btnbtnadd" (click)="addProductToCookie(product)"
            class="w_hhLG w_XK4d w_0_LY pointer bn sans-serif b ph2 flex items-center justify-center w-auto">
            <i class="bi bi-plus-lg"></i>
            @if(lang=='en'){
            <span class="mr2">Add</span>
            }
            @else{
            <span class="mr2">إضافة</span>
            }
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="">
  <div class="d-flex justify-content-between mt-4 ">
    <div class="buttonRL ps-4">
      <button class="circle-button" style="right:100%;" (click)="prevPage()" [disabled]="currentPage === 1">
        @if(lang=='en'){
        <i class="bi bi-chevron-left"></i>
        }
        @else{
        <i class="bi bi-chevron-right"></i>
        }
      </button>
    </div>
    <div class="buttonRL pe-4">
      <button class="circle-button" style="left: 100%;" (click)="nextPage()"
        [disabled]="(currentPage * itemsPerPage) >= fillpagnationproduct.length">
        @if(lang=='en'){
        <i class="bi bi-chevron-right"></i>
        }
        @else{
        <i class="bi bi-chevron-left"></i>
        }
      </button>
    </div>
  </div>
</div>